.Recuperacion{
	color: black;
    background-color: #ffffff00;
    cursor: pointer;
}

.central{
    padding: 40px 0px 80px;
    
}

.button.is-success {
    background-color: #48a4c7c7;
    border-color: #0000003b;
    color: #fff;
    border-radius: 8px
}

.button.is-primary {
    background-color: #48a4c7c7;
    border-color: #0000003b;
    color: #fff;
    border-radius: 8px
}