#Titulo{
  border: 1px solid #000;
  border-radius: 10px;
}
#color{
  border-color: aqua;
}

.blue{
  background: blue;
}

#principal{
  background-position: 4px;  
  padding: 25px 50px;

}

#boton{
  border: 1px solid #000;
  border-radius: 10px;
  
}

#imagen{

  width: 250px;
  height: 80px;
 
  padding: 80px 0px;
  border-radius: 10px;

  background-image: url(https://media.cylex.com.co/companies/1113/6518/logo/logo.jpg);
}

