#Titulo{
  border: 1px solid #000;
  border-radius: 10px;
}
#color{
  border-color: aqua;
}

.blue{
  background: blue;
}

#principal{
  background-position: 4px;  
  padding: 25px 50px;

}

